<template name="mygames">
    <div class="fade-in one">
        <div class="row">
            <div class="col-md-12 blueheader">
                <div class="row">


                </div>

                <div class="row">

                    <div class="col-xs-6 col-md-6 white-text">
                        <h3>Spil du er tilmeldt:</h3>
                        {{#if currentUser}}
                            <button class="btn btn-default" type="button" data-toggle="modal" href="#jointhegame">Tilmeld dig til et spil</button>

                            <br/><br/>

                            <ul>
                                {{#each mygames}}
                                    <li id="playgame">  {{name}} {{_id}}
                                    </li>
                                {{/each}}
                            </ul>


                        {{else}}
                            <h3>You must be logged in to view </h3>
                        {{/if}}
                    </div>
                    <div class="col-xs-12 col-md-6 white-text">
                        <h3>Play in single player mode.</h3>

                        <p>This function is under development!!</p>
                   <!-- <div class="col-xs12 col-md-6"><a class="singleplayer" href="{{pathFor 'singleplayer'}}" >Single player</a></div>-->
                    </div>
                </div>
                <br/><br/><br/><br/>

                <div class="row">

                    <div class="col-xs12 col-md-12 text-center "><a href="{{pathFor 'menu'}}" class="btn btn-grey"
                                                                    role="button"><H2>Return to menu</H2></a>
                        <br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> joinGameModal}}

</template>


<template name="mygameslist">
    <li class="nodecoration ">
        <a class="white-text" href="#" id="playgame">{{player1}} vs {{player2}}</a>
        <span class="currentplayer">Playing now : {{curplayer}}</span>

    </li>


</template>
