<Template name="board">
    <div class="fade-in one">
        <div class="row">
            <div class="col-md-12 blueheader">
                <div class="col-xs-4 col-md-4 score">
                    <div>Forhal</div>

                    {{team}}

                    <!--  <div class="checkbox checkbox-inline checkbox-primary">

                             <input type="checkbox" id="notifications">
                          <label  for="notifications">
                              Check here to receive game notifications!
                          </label>

                      </div>-->

                    {{#if currentUser}}
                        <button class="btn btn-default" type="button" data-toggle="modal" id="startgame">Start spil</button>

                    {{else}}
                        <h3>You must be logged in to view </h3>
                    {{/if}}



                </div>


                <div class="row">
                    <div class="leave">
                        <a href="{{pathFor 'mygames'}}"><img src="graphics/tilbage.png" class="img-responsive"
                                                             alt="Responsive image"></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</Template>
