<template name="inviteplayer">
    <div class="fade-in one">
        <div class="col-md-12 blueheader">
            <!--<div class="row">
                <img src="graphics/SVNQuizLogo192.png" class="img-responsive pull-right" alt="Responsive image">
            </div>-->
            <div class="row">
                <div class="col-xs-12 col-md-4 white-text">
                    <h3 class="text-center">Invite a player</h3>

                    <p>Here you can invite a player to your game. Right now {{counter}} players have registered to the game</p>


                    <p>Click on the name and wait for the person to accept your invitation, then play the game.</p>
                    <input type="text" class="form-control search-input-filter"  placeholder="Søg...  Search..." value="{{searchFilter}}">
                    <br/>

                    {{#if currentUser}}

                        <ul class="transparant">
                            {{#each players}}
                                {{#unless myself _id}}
                                    {{> userList}}
                                {{/unless}}
                            {{/each}}
                        </ul>
                    {{else}}
                        <h3>You must be logged in to invite </h3>
                    {{/if}}
                </div>


                <div class="col-xs-12 col-md-4 white-text">
                    <h3 class="text-center">You have invited: </h3>

                    <p>Wait for the person to accept your invitation, then play the game.</p>

                    {{#if currentUser}}
                        <ul class="transparant">
                            {{#each invitations}}
                                {{> invitedlist}}
                            {{/each}}
                        </ul>
                    {{else}}
                        <h3>You must be logged in to view </h3>
                    {{/if}}
                </div>


                <div class="col-xs-12 col-md-4 white-text">
                    <h3 class="text-center">Accept an invitation:</h3>

                    <p>Click on a name to accept an invitation, then play the game.</p>
                    {{#if currentUser}}
                        <ul class="transparant">

                            {{#each invites}}
                                {{> myinvitationslist}}
                            {{/each}}

                        </ul>
                    {{else}}
                        <h3>You must be logged in to accept </h3>
                    {{/if}}
                </div>
            </div>
            <br/><br/><br/><br/>

            <div class="row">
                <div class="col-xs12 col-md-12 text-center"><a href="{{pathFor 'menu'}}"
                                                               class="btn btn-grey" role="button"><H2>
                    Return to menu</H2></a>
                    <br/><br/>
                </div>
            </div>


        </div>


    </div>
</template>


<template name="userList">
    <li>
        <a href="#" class="pickplayer white-text">{{username}}</a>
    </li>
</template>

<template name="invitedlist">
    <!--dem jeg har inviteret-->
    <li>

        <a href="#" class="deleteinvitation white-text">{{player2}}</a>
    </li>

</template>

<template name="myinvitationslist">
    <!--dem jeg er inviteret af-->
    <li>
        <a href="#" class="acceptinvitation white-text">{{player1}}</a></li>

</template>
