<template name="mystatus">
    <div class="row fade-in one">
        <div class="row">
            <div class="col-md-12 blueheader">
                <div class="row">

                   <!-- <img src="graphics/SVNQuizLogo192.png" class="img-responsive pull-right" alt="Responsive image">-->
                </div>


                <div class="row">
                    <div class="col-xs-12 col-md-12 white-text">
                        <div class="col-xs-2 col-md-2"> <h3>My status: {{myStatus}}</h3><h4>You need {{winsToLevelUp}}</h4></div>

                            <div class="col-xs-2 col-md-2 "><img src="levelOFF.png" class="img-responsive pull-right Floater"
                                                                alt="Responsive image">

                                <h3>Floater</h3></div>



                            <div class="col-xs-2 col-md-2 "><img src="levelOFF.png" class="img-responsive pull-right Sailor"
                                                                alt="Responsive image">

                                <h3>Sailor</h3></div>



                            <div class="col-xs-2 col-md-2 "><img src="levelOFF.png" class="img-responsive pull-right Fighter"
                                                                alt="Responsive image">

                                <h3>Fighter</h3></div>



                            <div class="col-xs-2 col-md-2 "><img src="levelOFF.png" class="img-responsive pull-right Captain"
                                                                alt="Responsive image">

                                <h3>Captain</h3></div>



                            <div class="col-xs-2 col-md-2 "><img src="levelOFF.png" class="img-responsive pull-right Admiral"
                                                                alt="Responsive image">

                                <h3>Admiral</h3></div>






                    </div>
                    <div class="col-xs-12 col-md-4 white-text">


                        <h3>Games played: {{numOfGames}}</h3>

                        <h3>Number of wins: {{numOfWins}} </h3>




                    </div>
                    <div class="col-xs-12 col-md-8 white-text">
                        <h3>Finished games:</h3>

                        <!--<ul class="transparant">-->
                        {{#each myStats}}
                            {{#unless myself _id}}
                                {{> mystatuslist}}
                            {{/unless}}
                        {{/each}}
                        <!--</ul>-->

                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-xs12 col-md-12 text-center"><a href="{{pathFor 'menu'}}" class="btn btn-grey"
                                                                   role="button"><H2>Return to menu</H2></a>
                        <br/><br/>
                    </div>
                </div>
            </div>

        </div>
        <div class="spacer"></div>

    </div>
</template>

<template name="mystatuslist">
    <!--<li class="nodecoration">-->
    {{player1}} ({{scorep1}} pts.) vs {{player2}} ({{scorep2}} pts.) Winner is: {{winner}}<br/>

    <!--</li>-->


</template>
