<template name="instructions">
    <div class="fade-in one">
        <div class="col-md-12 blueheader">
            <div class="col-xs12 col-md-12">
                <h3 class="text-center">Vejledning</h3>

                <p class="text-center"></p>

                <ol>
                    <li>I "Log in" kan du oprette dig som bruger med et brugernavn og en email. Du kan efterfølgende gå
                        i
                        ”my profile ” og rette og tilføje til din profil. Husk at vælge et godt og sigende brugernavn,
                        så er
                        det lettere for andre at finde dig .
                    </li>
                    <li>Inviter en at spille med i ”Invite player”. Når du har inviteret en anden spiller skal du vente
                        til
                        denne har accetperet din invitation. I ”Invite player” kan du også se om du selv er blevet
                        inviteret
                        og hvem du selv har inviteret.
                    </li>
                    <li>I ”My games” kan du finde dine aktive spil og vælge et at spille, du kan også se hvis tur det
                        er.
                        Selve spillet består af en spilleplade med 49 felter og til højre er der 5 kategorier med ca 50
                        spørgsmål i hver. Når du klikker på et felt farves det og kategorierne bliver låst op. Du kan
                        herefter vælge en kategori og et spørgsmål dukker op, du har 15 sekunder til at svare på
                        spørgsmålet. Svarer du rigtigt får du 1 point og det felt du har valgt farves permanent i din
                        farve.
                        På spillepladen er der tilfældigt placeret 5 ”Bøjer” er du heldig at have valgt et felt med bøje
                        får
                        du 5 bonus points. Spillet er slut når alle fem bøjer er fundet, den spiller der har flest
                        points
                        har vundet.
                    </li>
                    <li>I ”My status” kan du se hvor mange spil du har spillet og hvor mange du har vundet og andre
                        statistikker.
                    </li>
                    <li>I ”Hall of fame” er de 10 spillere med flest vundne spil listet.
                    </li>
                </ol>


                <h3 class="text-center">Instructions in English</h3>
                <ol>
                    <li>
                        Under "Log in" you can register as a user by providing a username and an email address. To
                        change or
                        add to your profile go to ”My profile ”. Make sure to choose a catchy username to make it easier
                        for
                        other players to find you.
                    </li>
                    <li>
                        To invite another player to play a game go to ”Invite player”. When you have invited another
                        player,
                        you have to wait for him/her to accept you invitation. Under ”Invite player” you can also check
                        if
                        you have received an invitation from another player and who you have invited.
                    </li>
                    <li>Under ”My games” you will find your current games and you can also choose a game to play. “My
                        Games”
                        also tells you whose go it is. The game itself consists of 49-square board. On the right, you
                        will
                        see 5 different categories with approximately 50 questions in each category. When you click on a
                        square, it becomes coloured and the categories are unlocked. You are now free to choose a
                        category.
                        When you do so, a question pops up and you now have 15 seconds to answer the question. If you
                        answer
                        correctly, you are awarded 1 point and the square you chose takes on a permanent colour.
                        Randomly
                        scattered across the board are 5 buoys. Clicking on one of them gives you 5 bonus points. The
                        game
                        is finished when all 5 buoys have been found and the winner is the player with the most points.
                    </li>
                    Under ”My status” you can see how many games you have played and how many you have won as well as
                    other
                    stats.
                    <li>
                        Under ”Hall of fame” you will find a list of the 10 players with most wins.
                    </li>
                </ol>

                <br/><br/><br/><br/>
            </div>
            <div class="row">

                <div class="col-xs12 col-md-12 text-center"><a href="{{pathFor 'menu'}}" class="btn btn-grey"
                                                               role="button"><H2>Return to menu</H2></a>
                </div>
            </div>
            <div class="spacer"></div>
        </div>
    </div>
</template>
